body {
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 60px;
}

@media only screen and (min-width: 480px) {
  body{font-size: 16px;}
}

@media only screen and (min-width: 768px) {
  body{font-size: 18px;}
}

@media only screen and (min-width: 992px) {
  body{font-size: 20px;}
}

@media only screen and (min-width: 1200px) {
  body{font-size: 22px;}
}

img {
  max-width: 100%;
  height: auto;
}

/** {
    outline: 1px solid red;
}
*/
.navbar {
  font: 18px Arial, sans-serif; 
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header:before {
  content: none;
}

.navbar-header:after {
  content: none;
}

.navbar-brand {
  font-size: 20px;
}

.jumbotron {
  font-size: 1em;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

#info_name {
  font: 1.4em Arial, sans-serif; 
}

.sidebar-module {
  font-size: 0.7em;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
#footer {
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer_height {
  height: 60px;
}