html {
  font-size: 14px;
}

@media only screen and (min-width: 480px) {
  html{font-size: 16px;}
}

@media only screen and (min-width: 768px) {
  html{font-size: 18px;}
}

@media only screen and (min-width: 992px) {
  html{font-size: 20px;}
}

@media only screen and (min-width: 1200px) {
  html{font-size: 22px;}
}

body {
  font-size: 1em;
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 60px;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

/** {
    outline: 1px solid red;
}
*/
.navbar {
  font: 18px Arial, sans-serif; 
}

.serif-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header:before {
  content: none;
}

.navbar-header:after {
  content: none;
}

.navbar-brand {
  font-size: 20px;
}

.jumbotron {
  font-size: 1rem;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

#info_name {
  font-size: 1.5rem;
}

.sidebar-module {
  font-size: 0.7rem;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
#footer {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer_height {
  height: 60px;
}