body {
  background-color: #ffffff;
  color: #373737;
  font: 14pt Arial, sans-serif; 
  padding-top: 50px;
  padding-bottom: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#info_name {
  font-size: 22pt;
}
